<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Orders_table</title>
</head>
<body>
<table id="orders_table" style="width:100%">
    {% if result %}
    <tr>
        <th>order ID</th>
        <th>order details</th>
        <th>order status</th>
        <th>cust ID</th>
        <th>Pay ID</th>
        <th>restaurant_ID</th>
        <th>Employee ID</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.orderID }}</td>
        <td> {{ row.order_details }}</td>
        <td> {{ row.order_status }}</td>
        <td> {{ row.cust_ID }}</td>
        <td> {{ row.PayID }}</td>
        <td> {{ row.restaurant_ID }}</td>
        <td> {{ row.EmpID }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>